<a href="https://colab.research.google.com/github/maheer23/Intermediate_Python_FreeCodeCamp/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Create a dictionary:

* Two ways to create a dictionary

In [4]:
mydict1 = {
    'name': "max",
    'age': 28,
    "city": "New York"
}
print(mydict1)

mydict2 = dict(
     name= "max",
     age= 28,
     city= "New York"
)
print(mydict2)

{'name': 'max', 'age': 28, 'city': 'New York'}
{'name': 'max', 'age': 28, 'city': 'New York'}

## Access items:

In [5]:
name_in_dict = mydict1["name"]
print(name_in_dict)

max

## Add and Change items

* Simply add or access a key and assign the a value

In [6]:
mydict1["email"] = 'max@xyz.com'
print(mydict1)

# Or we can overwrite the existing key
mydict1['name'] = 'Maheer'
print(mydict1)

{'name': 'max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Maheer', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

## Delete items

In [7]:
# Delete a key-value pair
del mydict1['email']

In [8]:
# This returns the value and removes the key-value pair
print("popped value: ",mydict1.pop('age'))

popped:  28

In [10]:
print(mydict1)

# Returns and removes the last inserted keyvalue pair
print("Popped item:", mydict1.popitem())

print(mydict1)

{'name': 'Maheer', 'city': 'New York'}
Popped item: ('city', 'New York')
{'name': 'Maheer'}

## Check for Keys

In [11]:
mydict1 = {
    'name': "max",
    'age': 28,
    "city": "New York"
}

# Using if.. in
if "name" in mydict1:
  print(mydict1['name'])

# Use Try..Except
try:
  print(mydict1['firstname'])
except:
  print("No Key Found")

max
No Key Found

## Lopping through Dictionary

In [13]:
# Loop over keys
for key in mydict1:
  print(key,mydict1[key])

name max
age 28
city New York

In [14]:
# Loop over keys
for key in mydict1.keys():
  print(key)

name
age
city

In [15]:
# loop over values
for value in mydict1.values():
  print(value)

max
28
New York

In [16]:
# Loop over Keys and values
for key, value in mydict1.items():
  print(key,value)

name max
age 28
city New York

## Copy a Dictionary

* Be careful when copying References

In [17]:
dict_org = {
    'name': "max",
    'age': 28,
    "city": "New York"
}
print(dict_org)

# This just copies the reference to the dict, 
dict_cpy = dict_org

# Now modifying the copy also affects the original
dict_cpy['name'] = 'lisa'
print(dict_cpy)
print(dict_org)

{'name': 'max', 'age': 28, 'city': 'New York'}
{'name': 'lisa', 'age': 28, 'city': 'New York'}
{'name': 'lisa', 'age': 28, 'city': 'New York'}

* Use copy(), or dict(x) to avoid this

In [19]:
dict_org = {
    'name': "max",
    'age': 28,
    "city": "New York"
}

dict_cpy1 = dict_org.copy()
dict_cpy2 = dict(dict_org)

# Now modifying the copy does not affect the original
dict_cpy1['name'] = 'lisa'
print(dict_cpy1)
print(dict_org)

{'name': 'lisa', 'age': 28, 'city': 'New York'}
{'name': 'max', 'age': 28, 'city': 'New York'}

## Merge Two Dictionaries

* use the update(), method to merge two dictionaries. 
* Existing keys are overwritten, new keys are added

In [22]:
mydict1 = {
    'name': "max",
    'age': 28,
    "city": "New York"
}
print(mydict1)

mydict2 = dict(
     name= "Alice",
     age= 28,
     email= "alice@xyz.com"
)

mydict1.update(mydict2)
print(mydict1)

{'name': 'max', 'age': 28, 'city': 'New York'}
{'name': 'Alice', 'age': 28, 'city': 'New York', 'email': 'alice@xyz.com'}

## Possible Key Types

* Any immutable type, like strings or numbers can be used as a key. Also a tuple can be used if contains onlu immutable elements

* A list is not possible because it is not immutable

In [23]:
mydict = {3:9, 6:36, 9:81}
print(mydict[3],mydict[6],mydict[9])

9 36 81

In [25]:
# Use a tuple with immutable elements 
mytuple = (8,7)
my_dict = {mytuple:15}

print(my_dict[mytuple])

15

## Nested Dictionaries

* The values can also be container types (eg., lists, tuples, dictionaries)

In [26]:
mydict1 = {
    'name': "max",
    'age': 28,
    "city": "New York"
}

mydict2 = dict(
     name= "Alice",
     age= 28,
     email= "alice@xyz.com"
)

nested_dict = {
    'dictA': mydict1,
    'dictB': mydict2
}


print(nested_dict)

{'dictA': {'name': 'max', 'age': 28, 'city': 'New York'}, 'dictB': {'name': 'Alice', 'age': 28, 'email': 'alice@xyz.com'}}