<a href="https://colab.research.google.com/github/maheer23/Intermediate_Python_FreeCodeCamp/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists:** Ordered, Mutable, Allows Duplicate elements

In [37]:
mylist = ['banana','cherry','apple']
print(mylist)

['banana', 'cherry', 'apple']

In [38]:
# Empty List
mylist2 = list()
print(mylist2)

[]

* to access an element refer to the index

In [39]:
item = mylist[0]
print(item)

banana

**Note:**
If index is too large it shows and error

In [40]:
# TO print last item
last = mylist[-1]
last

'apple'

**TO Iterate over your list**

In [41]:
for i in mylist:
  print(i)

banana
cherry
apple

**TO check if an item is in list**

In [42]:
if 'banana' in mylist:
  print("YES")
else:
  print("NO")

YES

**Methods**

* len()
* append()
* insert(index,item)
* pop() --> removes the last item and returns it
* remove(item)
* clear()
* reverse()
* sort() --> performs inplace sorting
* sorted()

In [43]:
len(mylist)

3

In [44]:
mylist.append("Lemon")
print(mylist)

['banana', 'cherry', 'apple', 'Lemon']

In [45]:
mylist.insert(1,'blueberry')
mylist

['banana', 'blueberry', 'cherry', 'apple', 'Lemon']

In [46]:
mylist.pop()

'Lemon'

In [47]:
mylist.remove("cherry")
mylist

['banana', 'blueberry', 'apple']

In [48]:
mylist.clear()
# Empties the list
mylist

[]

In [49]:
mylist = ['banana','cherry','apple']
mylist.reverse()
mylist

['apple', 'cherry', 'banana']

In [50]:
nums = [2,3,4,5,-1,10,4]
nums.sort() # Performs inplace sorting
nums

[-1, 2, 3, 4, 4, 5, 10]

* Different ways  to create lists

In [51]:
mylist = [0]*5
mylist

[0, 0, 0, 0, 0]

**List Concatenation**

In [52]:
mylist2 = [1,2,3,4,5]

new_list = mylist + mylist2
new_list

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

**List Slicing**
* To access subparts of a list

In [53]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[1:5]
a

[2, 3, 4, 5]

In [54]:
# If we dont specify a start index then it starts from the beginning
# If we don't specify stop index then it goes to the last element

start = mylist[:5]
stop = mylist[1:]

start,stop

([1, 2, 3, 4, 5], [2, 3, 4, 5, 6, 7, 8, 9])

* we also have a step index. by default it's value is 1

In [55]:
a = mylist[::2] # Takes every second item
print(a)

# We can reverse the list using [::-1]
a=a[::-1]
a

[1, 3, 5, 7, 9]

[9, 7, 5, 3, 1]

**Copying a List**

In [56]:
list_org = ['banana','cherry','apple']

# simply by assining
list_cpy = list_org

# Now, if we modify the copied one then it also modifies the original one.
list_cpy.append("Lemon")

print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'Lemon']
['banana', 'cherry', 'apple', 'Lemon']

* to avoid this. Use copy() method.
* And also using the list() function
* and also using slicing mylist[:]

In [59]:
# Using the copy() method
list_org = ['banana','cherry','apple']

list_cpy = list_org.copy()

list_cpy.append("Lemon")

print(list_org)
print(list_cpy)

# using list()
list_cpy1 = list(list_org)
list_cpy1.append("Lemon")

print(list_org)
print(list_cpy1)


# Using Slicing
list_cpy2 = list_org[:]
list_cpy2.append("Lemon")

print(list_org)
print(list_cpy2)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', 'Lemon']
['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', 'Lemon']
['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', 'Lemon']

**LIst Comprehension**
* Elegant and fast way to create a new list using the existing list.

In [60]:
a = [1,2,3,4,5,6]

b = [i*i for i in a]
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]