<a href="https://colab.research.google.com/github/maheer23/Intermediate_Python_FreeCodeCamp/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples:** Ordered, Immutable, Allows Duplicate elements

In [1]:
mytuple = ("max",23,"Boston")
print(mytuple)

('max', 23, 'Boston')

* If you have only element in the parenthesis, then it considers as a String.
* TO avoid this, put a comma after the element

In [2]:
mytuple = ("MAx")
print(type(mytuple))

# Now, adding a comma at the end
mytuple = ("MAX",)
print(type(mytuple))

<class 'str'>
<class 'tuple'>

* BUilt in tuple() function to create a tuple from a iterable (list)

In [3]:
mytuple = tuple(["max",23,"Boston"])

item = mytuple[0]
print(item) # prints the first element

max

* We can specify a negative index [-1] to the last item

In [5]:
last = mytuple[-1]
last

'Boston'

* We can't change the elements in a tuple. Coz it's Immutable

**Iterating over a tuple**

In [6]:
for i in mytuple:
  print(i)

max
23
Boston

* To check for an element in a tuple

In [7]:
if "max" in mytuple:
  print("YES")
else:
  print("NO")

YES

**Methods**

* len()
* count(item)
* index(item) --> gives the first index of the item
* list() --> converts tuple to list
* tuple() --> converts list to tuple

In [9]:
mytuple = ['a','b','c','p','p','l','l','e']

len(mytuple)

8

In [11]:
print(mytuple.count('p'))

2

In [12]:
print(mytuple.index('p'))

3

In [13]:
mylist = list(mytuple)
print(mylist)

mytuple = tuple(mylist)
print(mytuple)

['a', 'b', 'c', 'p', 'p', 'l', 'l', 'e']
('a', 'b', 'c', 'p', 'p', 'l', 'l', 'e')

**Slicing**

In [14]:
a = [1,2,3,4,5,6,7,8,9]

b = a[2:5]
print(b)

[3, 4, 5]

In [16]:
# If we dont specify a start index then it starts from the beginnning
# if we dont specify a stop index then it goes to the last element

start = a[:4]
print(start)

last = a[2:]
print(last)

[1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9]

* WE can add a step in the slincing

In [17]:
b = a[1:7:2]

print(b)

[2, 4, 6]

* Reversing using Slicing

In [18]:
rev = a[::-1]

print(rev)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

**Unpacking**

* The number of elements on the left hand side must match the number of elements inside the tuple

In [20]:
mytuple = ("max",28,'boston')

name, age, city = mytuple

print(name,age,city)

max 28 boston

* we can unpack multiple elements using "*"

In [22]:
mytuple = (0,1,2,3,4)

i1,*i2,i3 = mytuple
print(i1)
print(i2)
print(i3)

0
[1, 2, 3]
4

**Comparing Tuples and list**

* When working with large data tuples will be more efficient

In [23]:
import sys

mylist = [0,1,2,"hello",True]
mytuple = (0,1,2,"hello",True)

print(sys.getsizeof(mylist),"bytes")
print(sys.getsizeof(mytuple),"bytes")

112 bytes
96 bytes

* comparing their times

In [27]:
import timeit

print(timeit.timeit(stmt="[0,1,2,3,4,5]",number = 1000000),"list")
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number = 1000000),'Tuple')

0.08954147199983709 list
0.013161230999912732 Tuple